---
layout: default
---



<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Projects" }}</h2>
    <table style="border:none">
      {% assign image_files = site.static_files | where: "image", true %}
      {% assign i = 0 %}
      {%- for project in site.projects -%}
      {%- if i == 2 -%}
      </tr>
      {% assign i = 0 %}
      {%- endif -%}
      {%- if i == 0 -%}
      <tr>
      {%- endif -%}
      {% assign logoarr = image_files | where: "name", project.logo %}
      <td style="border:none">
        <div class="project">
          <a class="post-link" href="{{ project.url | relative_url }}">
            <img src="{{ logoarr[0].path }}" height=200>
            <h3>{{ project.title }}</h3>
          </a>
        </div>
      </td>
    {% assign i = i | plus: 1 %}
    {%- endfor -%}
  </table>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	<span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
